* {
    outline: 2px solid red;
    padding: 0;
    margin: 0;
}

body {
    margin: 15px;
    padding: 15px;
    outline: none;
}

.sub-container {
    display: flex;
}

.items {
    flex-basis: calc(100% / 3);
    display: flex;
    flex-basis: calc(100% / 4);
}

.tag {
    flex-wrap: wrap;
    display: flex;
    /* gap: 15px; */
    justify-content: space-between;
    /* flex-basis: calc(100% / 2); */
}

.label {}