/* Soluzione qui */

@media screen and (min-width: 768px) {

    /* logo-left */
    #topbar {
        display: block;
    }

    main {

        padding: 0% 10%;

    }



    /* title-size */
    .recipe-name {
        font-size: 1.8rem;
    }

    /* second-title*/
    .recipe-origin {
        display: inline;
    }


    /* griglia info-ricetta */
    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

    }

    .quick-notes li {
        flex-basis: calc((100% / 3) - 10px);
        padding: 1%;
    }

    .btn {
        width: 20%;
    }

    /* ads */
    .ads {
        display: block;
        margin: 40px auto;
    }

    /* float */
    .presentation img {

        float: left;
        margin-right: 15px;
    }
}


/* ************media-query--xl-<992px************ */

@media screen and (min-width: 992px) {
    .recipe-name {
        font-size: 2.2rem
    }


    .recipe-card {
        display: flex;
        justify-content: center;
        wi
    }

    /* griglia info-ricetta */
    .quick-notes ul {
        display: block;
        flex-wrap: nowrap;
        gap: none;

    }


    .recipe-info {
        width: 40%;
        height: 350px;
    }

    .recipe-video {
        width: 60%;
        height: 350px;
    }

    .recipe-video iframe {
        border: 0;
        width: 100%;

        display: flex;
    }


    /* social */
    .btn {
        gap: 5px;
        display: flex;
    }

    .social-networks .label {
        display: flex;


    }

    footer {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    address {
        text-align: left;
    }





}